body{margin: auto; display: block; text-align: center; background-color: #e48198; color: #ae0039;}
header{background-color: #ffcce2;}
button{border-radius: 10px; border: 5px solid #e48198; padding: 10px 20px; background: linear-gradient(to bottom, #ffd4a5, #ffa1b9); box-shadow: none; color:#ae0039;}
button:hover:hover{background-color: #36b9c3; color:#ffffff;}







button{cursor: pointer;}